body {
	background: url('images/background.png');
	background-color: #F5F5F5;
	background-size: cover;
	background-position: center;
	padding-top: 5%;
	padding-bottom: 10%;
}

h1 {
	font-family: 'Cousine'; /* use google font */
	font-size: 30px;
	font-weight: bolder;
}

h2 {
	font-family: 'Assistant'; /* use google font */
	font-size: 29px;
	line-height: 33px;
	font-weight: normal;
}

h3 {
	font-family: 'Assistant'; /* use google font */
	font-size: 20px;
	font-weight: bold;
}

h4 {
	font-family: 'Assistant'; /* use google font */
	font-size: 16px;
	font-weight: normal;
}

h5 {
	font-family: 'Cousine'; /* use google font */
	font-size: 25px;
	font-weight: normal;
}

a {
	font-family: 'Assistant'; /* use google font */
	font-size: 20px;
	font-weight: bold;
	color: black;
}

mark {
  background-color: #FFF031;
  color: black;
  padding: 0px;
}

a:link {
	font-family: 'Assistant'; /* use google font */
	font-size: 20px;
	font-weight: bold;
	color: black;
}

/* visited link */
a:visited {
	font-family: 'Assistant'; /* use google font */
	font-size: 20px;
	font-weight: bold;
	color: black;
}

/* mouse over link */
a:hover {
	font-family: 'Assistant'; /* use google font */
	font-size: 20px;
	font-weight: bold;
	color: #FFF031;
}

/* selected link */
a:active {
  color: #FFF031;
}


.row {
	padding-left: 18%;
	padding-right: 18%;
	margin-bottom: 10px;
}